@import "../../app.scss"; // import mobile style 

.yeeunchoi {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, ivory);
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100;
        margin: auto;

        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

        }

        h2 {

            font-size: 30px;
            letter-spacing: 10px;
        }

        h1 {
            color: olivedrab;
            font-size: 83px;


            @include mobile {
                font-size: 36px;
            }
        }

        .buttons {
            button {
                padding: 20px;
                border: 1px solid sandybrown;
                border-radius: 10px;
                background-color: transparent;
                color: sandybrown;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 300;

                &.contactMeButton {
                    /* Style specific to the "See the Latest Works" button */
                    background-color: sandybrown;
                    color: white;
                    /* Add any other styles you want for this button */
                }
            }
        }

        img {
            width: 50px;
        }
    }

    .imageContainer {
        height: 100%; // Add the unit (e.g., pixels, rem, etc.)
        position: absolute;
        top: 0;
        right: 0;

        @include mobile {
            height: 65%;
            width: 100%;
            top: unset;
            bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .slidingTextContainer {
        position: absolute;
        font-size: 350px;
        bottom: 0px;
        white-space: nowrap;
        color: #F5F5F5;
        width: 50%;
        font-weight: bold;
    }

}